@import url("https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap");

* {
  margin: 0;
}

#hamburger,#mobile--img,#header--mobile,#bg--left--mobile,#bg--right--mobile,#close,#nav--links {
  display: none;
}

nav {
  height: 90px;
  font-family: "Karla", sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 108px;
  padding-right: 108px;
  letter-spacing: 1px;
}

#view--plans--nav {
  font-family: "Karla";
  font-weight: 700;
  width: 154px;
  height: 44px;
  background-color: white;
  color: hsl(256, 26%, 20%);
  border: 2px solid hsl(256, 26%, 20%);
  letter-spacing: 1px;
}

#view--plans--nav:hover {
  background-color: hsl(256, 26%, 20%);
  color: white;
  border: 1px solid white;
  cursor: pointer;
}

#links {
  display: flex;
  align-items: center;
}

#links > p {
  padding-right: 36px;
  font-weight: 700;
  color: hsl(273, 4%, 51%);
}

#links > p:hover {
  color: hsl(256, 26%, 20%);
  cursor: pointer;
}

main {
  height: 65vh;
  background-color: hsl(256, 26%, 20%);
  padding-top: 120px;
  padding-left: 108px;
  padding-right: 108px;
  display: flex;
  justify-content: space-between;
  position: relative;
}

#bg {
  position: absolute;
  right: 0;
  top: 0;
}

hr {
  border-top: 2px solid white;
  width: 140px;
}

h1 {
  color: white;
  font-family: "DM Serif Display", serif;
  font-size: 72px;
  margin-top: 54px;
}

#insurance--text {
  margin-top: -28px;
}

header > p {
  font-family: "Karla", sans-serif;
  font-size: 16px;
  color: white;
  margin-top: 20px;
  line-height: 2;
}

img {
  height: 118%;
}

.view-plans {
  font-family: "Karla";
  font-weight: 700;
  width: 154px;
  height: 44px;
  margin-top: 24px;
  background-color: hsl(256, 26%, 20%);
  color: white;
  border: 1px solid white;
  cursor: pointer;
  letter-spacing: 1px;
}

.view-plans:hover {
    cursor: pointer;
    background-color: white;
    color: hsl(256, 26%, 20%);
}

#bg--left {
  position: absolute;
  left: -40px;
  bottom: -330px;
}

article {
  padding-left: 108px;
  padding-right: 108px;
  margin-top: 20%;
}

article > hr {
  border-top: 2px solid hsl(270, 9%, 17%);
  width: 140px;
}

h2 {
  font-family: "DM Serif Display", serif;
  font-size: 72px;
  color: hsl(270, 9%, 17%);
  margin-top: 54px;
}

#grid {
  display: grid;
  grid-template-columns: auto auto auto;
  margin-top: 80px;
}

h3 {
  color: hsl(270, 9%, 17%);
  font-family: "DM Serif Display", serif;
  font-size: 32px;
  margin-top: 20px;
}

section > p {
  font-family: "Karla", sans-serif;
  color: hsl(273, 4%, 51%);
  font-size: 16px;
  margin-top: 20px;
  line-height: 1.5;
  margin-right: 36px;
}

#how--we--work {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='434' height='250'%3E%3Cg fill='none' fill-rule='evenodd' stroke='%239E96C6'%3E%3Cpath d='M374.872-183.487c-83.088-26.03-168.523-69.446-255.99 9.854C31.415-94.333-23.575-24.865 11.936 65.016c35.51 89.881 180.463 33.898 222.58 114.23 42.116 80.332-50.424 153.24-10.528 224.736 39.896 71.496 70.573 117.318 198.785 71.859 128.212-45.46 116.391-161.127 213.89-228.861 97.5-67.734 202.988-169.134 58.222-350.07-144.766-180.935-236.925-54.367-320.013-80.397z'/%3E%3Cpath d='M384.985-142.161c-67.557-21.138-137.022-56.395-208.139 8.002C105.73-69.762 61.02-13.351 89.892 59.638c28.873 72.99 146.729 27.527 180.973 92.762 34.243 65.235-40.998 124.441-8.56 182.5 32.439 58.059 57.381 95.27 161.627 58.354 104.246-36.916 94.634-130.846 173.908-185.85C677.114 152.4 762.883 70.057 645.178-76.874c-117.705-146.93-192.637-44.15-260.193-65.287z'/%3E%3Cpath d='M404.804-113.49c-54.849-17.232-111.247-45.974-168.987 6.523-57.74 52.496-94.04 98.482-70.598 157.983 23.442 59.5 119.13 22.44 146.932 75.62 27.802 53.179-33.286 101.444-6.95 148.773 26.337 47.33 46.587 77.663 131.224 47.57 84.637-30.094 76.834-106.665 141.196-151.504 64.362-44.84 133.998-111.966 38.434-231.743-95.565-119.778-156.402-35.99-211.25-53.223z'/%3E%3Cpath d='M424.91-80.123c-44.205-13.836-89.659-36.915-136.194 5.238-46.534 42.153-75.79 79.079-56.898 126.856 18.893 47.777 96.011 18.018 118.418 60.72 22.407 42.7-26.826 81.456-5.6 119.46 21.225 38.003 37.546 62.36 105.758 38.196 68.213-24.164 61.923-85.648 113.796-121.652 51.872-36.005 107.994-89.905 30.975-186.082-77.02-96.177-126.05-28.9-170.255-42.736z'/%3E%3Cpath d='M430.256-58.56c-36.06-11.317-73.137-30.194-111.097 4.285-37.96 34.478-61.824 64.681-46.413 103.76 15.411 39.079 78.319 14.738 96.597 49.665 18.278 34.928-21.883 66.627-4.57 97.712 17.315 31.085 30.629 51.008 86.271 31.243 55.642-19.765 50.512-70.056 92.826-99.505 42.313-29.45 88.093-73.537 25.267-152.204-62.827-78.668-102.822-23.638-138.881-34.956z'/%3E%3Cpath d='M440.955-42.498c-29.325-9.164-59.479-24.448-90.35 3.469-30.87 27.916-50.278 52.37-37.745 84.012 12.533 31.641 63.693 11.933 78.557 40.213 14.865 28.28-17.796 53.946-3.715 79.115 14.08 25.169 24.908 41.3 70.16 25.296 45.25-16.003 41.078-56.722 75.49-80.566C567.763 85.196 604.994 49.5 553.9-14.196 502.807-77.89 470.28-33.335 440.955-42.498z'/%3E%3C/g%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right;
  display: flex;
  width: 100%;
  background-color: hsl(256, 26%, 20%);
  margin-top: 120px;
  margin-bottom: 120px;
  padding-top: 38px;
  padding-bottom: 38px;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

h4 {
  font-family: "DM Serif Display", serif;
  color:white;
  font-size: 64px;
  margin-left: 80px;
}

#text--2 {
  margin-top: -20px;
}

#we--work {
  width: 154px;
    height: 44px;
    font-family: "Karla";
    font-weight: 700;
    background-color: hsl(256, 26%, 20%);
    color: white;
    border: 2px solid white;
    margin-right: 80px;
}

#we--work:hover {
  cursor: pointer;
  background-color: white;
  color: hsl(256, 26%, 20%)
}

footer {
  background-image: url("data:image/svg+xml, %3Csvg xmlns='http://www.w3.org/2000/svg' width='528' height='231' %3E%3Cg fill='none' fill-rule='evenodd' stroke='%23E4E4E4'%3E%3Cpath d='M186.361 197.675c75.703 23.693 153.543 63.212 233.235-8.97 79.693-72.182 129.794-135.414 97.44-217.227-32.354-81.814-164.422-30.855-202.794-103.977-38.373-73.122 45.94-139.485 9.591-204.563-36.35-65.078-64.3-106.787-181.115-65.409C25.902-361.092 36.673-255.807-52.16-194.153c-88.833 61.654-184.944 153.953-53.046 318.647s215.865 49.487 291.567 73.18z' /%3E%3Cpath d='M176.895 159.751c61.583 19.24 124.905 51.33 189.734-7.283 64.828-58.614 105.585-109.959 79.266-176.393-26.32-66.434-133.755-25.055-164.971-84.43-31.216-59.377 37.372-113.266 7.802-166.11-29.57-52.845-52.306-86.713-147.334-53.113-95.028 33.6-86.267 119.094-158.53 169.158-72.265 50.064-150.45 125.012-43.153 258.747s175.603 40.184 237.186 59.424z' /%3E%3Cpath d='M159.188 134.583c49.962 15.698 101.334 41.882 153.929-5.943 52.594-47.825 85.66-89.72 64.307-143.926-21.353-54.206-108.513-20.443-133.838-68.89-25.325-48.448 30.32-92.418 6.33-135.536-23.99-43.117-42.436-70.752-119.531-43.336C53.29-235.633 60.398-165.875 1.77-125.026-56.856-84.176-120.287-23.023-33.238 86.096c87.049 109.12 142.465 32.788 192.426 48.487z' /%3E%3Cpath d='M140.684 103.816c40.295 12.596 81.728 33.603 124.147-4.768 42.419-38.371 69.087-71.984 51.865-115.475-17.221-43.491-87.518-16.402-107.943-55.273-20.425-38.87 24.453-74.148 5.105-108.743s-34.225-56.767-96.404-34.77c-62.179 21.996-56.446 77.965-103.73 110.739C-33.56-71.7-84.718-22.635-14.512 64.914c70.207 87.55 114.901 26.307 155.196 38.902z' /%3E%3Cpath d='M135.917 83.954c32.91 10.295 66.749 27.467 101.393-3.897 34.643-31.365 56.424-58.84 42.358-94.389-14.065-35.549-71.477-13.407-88.158-45.179-16.682-31.772 19.971-60.609 4.17-88.886-15.803-28.277-27.953-46.4-78.735-28.42-50.782 17.979-46.1 63.727-84.718 90.516C-6.39-59.51-48.17-19.406 9.167 52.156c57.339 71.562 93.841 21.503 126.75 31.798z' /%3E%3Cpath d='M126.775 69.594c26.718 8.36 54.191 22.305 82.318-3.165 28.127-25.47 45.81-47.78 34.39-76.649-11.419-28.868-58.03-10.887-71.574-36.688-13.544-25.8 16.214-49.217 3.385-72.18-12.83-22.963-22.694-37.68-63.923-23.08-41.229 14.6-37.428 51.75-68.78 73.505C11.238-46.908-22.684-14.34 23.868 43.772c46.553 58.112 76.188 17.462 102.907 25.822z' /%3E%3C/g%3E%3C/svg%3E");
  background-repeat: no-repeat;
  padding-top: 80px;
  background-color: hsl(0, 0%, 98%);
  padding-left: 108px;
  padding-right: 108px;
  position: relative;
}

#footer--logos {
  display: flex;
  justify-content: space-between;
}

.social {
  padding-left: 20px;
}

footer > hr {
  border: 1px solid hsl(216, 30%, 68%);
  width: 100%;
  margin-top: 40px;
}

.footer--links {
  z-index: 10;
  float: left;
  margin-top: 40px;
  width: 25%;
  margin-bottom: 80px;
}

.footer--head {
  color: hsl(273, 4%, 51%);
  font-family: "Karla", sans-serif;
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 40px;
}

.footers {
  font-family: "Karla", sans-serif;
    font-size: 16px;
    color: hsl(270, 9%, 17%);
    font-weight: 700;
    margin-bottom: 20px;
}

.footers:hover {
  text-decoration: underline;
  cursor: pointer;
}

@media only screen and (max-width: 426px) {
  #links, #desktop--img, #bg, #bg--left,#header--desktop,#insurance--text {
    display: none;
  }
  
  #hamburger {
    display: block;
  }

  nav {
    padding-left: 24px;
    padding-right: 24px;
  }

  #mobile--img {
    display: block;
    width: 100%;
  }

  main {
    height: auto;
    padding: 0;
    display: block;
  }

  header {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    padding: 40px;
  }

  #header--mobile {
    display: block;
    text-align: center;
    font-size: 44px;
  }

  header > hr {
    display: none;
  }

  header > p {
    text-align: center;
  }

  header > button {
    text-align: center;
    margin-bottom: 40px;
  }

  #bg--left--mobile {
    position: absolute;
    display: block;
  }

  #bg--right--mobile {
    display: block;
    position: absolute;
    bottom: -180px;
    right: 0;
  }

  article {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
  }

  h2 {
    font-size: 46px;
  }

  #grid {
    display: block;
  }

  section {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  section > p{
    text-align: center;
    margin: 36px;
  }

  #how--we--work {
    padding: 0;
    height: 360px;
    display: flex;
    width: 88%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='176' height='317'%3E%3Cg fill='none' fill-rule='evenodd' stroke='%239E96C6'%3E%3Cpath d='M229.233-90.334c-50.722-15.88-102.876-42.369-156.271 6.012C19.567-35.94-14.002 6.441 7.676 61.278c21.678 54.836 110.165 20.68 135.875 69.691 25.71 49.01-30.78 93.492-6.426 137.111 24.354 43.62 43.081 71.576 121.35 43.841 78.268-27.734 71.051-98.303 130.57-139.628 59.52-41.324 123.916-103.188 35.542-213.576-88.373-110.388-144.632-33.17-195.354-49.05z'/%3E%3Cpath d='M235.714-64.418c-41.272-12.887-83.71-34.382-127.158 4.879C65.108-20.28 37.793 14.114 55.432 58.614c17.64 44.5 89.642 16.782 110.563 56.554 20.92 39.772-25.047 75.868-5.23 111.265 19.818 35.397 35.056 58.083 98.743 35.577 63.687-22.507 57.815-79.773 106.246-113.308 48.431-33.534 100.83-83.736 28.92-173.316-71.909-89.58-117.687-26.916-158.96-39.804z'/%3E%3Cpath d='M247.526-47.655c-33.452-10.515-67.85-28.052-103.065 3.98-35.216 32.032-57.355 60.091-43.058 96.397 14.297 36.305 72.657 13.692 89.614 46.14 16.956 32.449-20.301 61.898-4.239 90.777 16.063 28.88 28.414 47.388 80.034 29.026 51.62-18.362 46.86-65.084 86.115-92.443 39.255-27.36 81.726-68.318 23.441-141.403-58.285-73.084-95.39-21.96-128.842-32.474z'/%3E%3Cpath d='M259.692-27.494c-27.045-8.434-54.853-22.5-83.323 3.192-28.47 25.692-46.368 48.198-34.81 77.318C153.119 82.136 200.3 64 214.008 90.025c13.708 26.026-16.412 49.647-3.427 72.81 12.986 23.164 22.971 38.01 64.703 23.282 41.732-14.728 37.884-52.203 69.62-74.147 31.734-21.945 66.07-54.797 18.95-113.417-47.12-58.62-77.117-17.614-104.161-26.047z'/%3E%3Cpath d='M262.21-13.586c-22.048-6.9-44.719-18.409-67.929 2.612-23.21 21.02-37.802 39.435-28.379 63.26 9.423 23.826 47.887 8.986 59.063 30.28 11.176 21.294-13.38 40.62-2.793 59.572 10.587 18.952 18.727 31.099 52.75 19.048 34.022-12.05 30.885-42.71 56.757-60.665 25.873-17.955 53.865-44.834 15.45-92.796-38.415-47.962-62.87-14.411-84.919-21.311z'/%3E%3C/g%3E%3C/svg%3E");
    background-position: top right;
  }

  h4 {
    font-size: 42px;
    text-align: center;
    margin: 0;
  }

  #we--work {
    margin: 0;
    margin-top: 32px;
  }

  footer {
    padding: 0;
    display: flex;
    flex-direction: column;
  }

  footer > hr {
    width: 80%;
    align-self: center;
    border: 1px solid hsl(273, 4%, 51%)
  }
  
  #footer--logos {
    display: flex;
    flex-direction: column;
    padding-top: 72px;
    align-items: center;
  }

  

  #footer--links {
    margin-top: 32px;
  }

  .footer--links {
    display: flex;
    flex-direction: column;
    align-items: center;
    float: none;
    margin: 0;
    width: 100%;
  }

  .social {
    padding-left: 20px;
    padding-right: 20px;
  }

  .footer--head {
    margin-top: 32px;
  }
}